/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* CUSTOM PROPERTIES */

:root {
    --ff-arimo: 'Arimo', sans-serif;
    --ff-oswald: 'Oswald', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fw-normal: 400;
    --fw-bold: 500;
    --fw-extra-bold: 700;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h2-3em: 3em;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-p-large: 1.125rem;
    --fs-p-medium: 1rem;
    --fs-p-small: 0.875rem;

    --clr-light: #FFFFFF;
    --clr-dark: #000000;
    --clr-dark-01: #010308;
    --clr-dark-02: #030E27;
    --clr-dark-03: #030303;
    --clr-dark-04: #1E1E1E;
    --clr-dark-05: #2D2D2D;
    --clr-grey-01:  #414242;
    --clr-grey-02:  #4A4747;
    --clr-grey-03:  #5F5F5F;
    --clr-yellow:  #FFB866;
    --clr-orange: #FFE2C1;
    --clr-green: #66B89E;
    --clr-pink: #F8C9E1;
    --clr-violet: #C6BCFF;
    --clr-yellow-bg:  #FFFDC2;
}


/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}
.section {
    padding: 0 6em;
}

.block {
    display: block;
}


/* HEADER SECTION */

.header {
    background-color: var(--clr-green);
    padding-bottom: 8em;
    display: flex;
}

.nav-menu {
    display: flex;
    width: 100%;
    /* height: auto; */
    padding: 1.5em 6em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-green);
    z-index: 2;
}

.logo-cnt {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.logo {
    max-width: 4.5em;
}

.company-name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    text-decoration: none;
}

.melodies-and-blog-cnt {
    display: flex;
    align-items: center;
    column-gap: 3em;
}

.nav-link--melodies {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-01);
}

.nav-link--blog {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-03);
}

.nav-link {
    text-decoration: none;
}

.search-and-sub-cnt {
    display: flex;
    align-items: center; 
    column-gap: 2em;  
}

.header--search-img {
    max-width: 100%;
}

.header--subscribe-btn {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-yellow);
    background-color: var(--clr-dark);
    border-radius: 16px;
    padding: .3em 1em;
    text-decoration: none;
}

.mobile-nav-menu {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-dark);
}


/* BLOG ARTICLE SECTION */

.article {
    background: var(--clr-green);
}

.article-cnt {
    width: 43em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 5.5em;
}

.article--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark);
    margin: 1em 0 .5em 0;
}

.article--subtitle {
    font-family: var(--ff-arimo);
    font-size: var(--fs-h5);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 2em;
}

.article--cover-img-cnt {
    margin-bottom: 2.5em;
}

.article--par {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 1em;
}

.article--quote {
    font-family: var(--ff-arimo);
    font-size: var(--fs-h4);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-01);
    margin: 1em 0 1em 0;
}

.article--hr {
    border: none;
    height: 1px;
    background-color: var(--clr-dark);
    margin-bottom: 1.5em;
}

.article--social-cnt {
    display: flex;
    column-gap: .5em;
    margin-bottom: 3em;
}

.article--reactions-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article--views-cnt {
    display: flex;
    column-gap: 2em;
}

.article--views-cnt > p {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: normal;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);

}

/* RELATED ARTICLES SECTION */

.related-articles {
    background: var(--clr-yellow-bg);
    padding: 8em 0 2.5em 0;
}

.related-articles--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: 700;
    line-height: 120%;
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: 1em;
}

.blog {
    display: flex;
    padding: 0 6em;
    column-gap: 2.5em;
    background: var(--clr-yellow-bg);
}

.blog--left,
.blog--right {
    width: 50%;
    border: 1px solid var(--forum-sec, #1E1E1E);
    border-radius: 16px;
    margin: 2em 0;
}

.blogs-05-and-06 {
    padding-bottom: 4em;
}

.blog--cover-img {
    width: 37.75em;
}

.blog--lower-section {
    padding: 1.5em;
}

.blog--content {
    display: flex;
    flex-direction: column;
}

.blog--content-title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    letter-spacing: 0.5px;
    line-height: 120%;
    color: var(--clr-dark-03);
    margin: 0 0 .7em 0;
}

.blog--content-body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 2em;
}

.blog--read-more > a {
    font-family: var(--ff-oswald);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-yellow);
    text-decoration: none;
}

.blog--hr {
    margin-bottom: 2.3em;
    border: none;
    height: 2px;
    background-color: #D7D7D7;
}

.blog--reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7em;
}

.blog--reactions-img {
    max-width: 1.5em;
}

.blog--reactions-left {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.blog--reactions-chat-cnt {
    display: flex;
    align-items: center;
    column-gap: .3em;
}

.blog--reactions-chat-count {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-p-small);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #2D2D2D;
}

.blog--author {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.blog--author-profile-img {
    max-width: 2.5em;
}

.blog--author-name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-03);
    margin-bottom: .3em;
}

.blog--author-time {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-05);
    color: #2D2D2D;
}


/* MEDIA PLAYER SECTION */

.media-player {
    background: var(--clr-green);
    height: 51.5em;
    padding-top: 7em;
}

.media-player--cnt {
    position: relative;
}

.media-player--lower-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    background: rgba(0, 0, 0, 0.80);
    padding: 4em 2em;
}

.media-player--artist {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
    margin-bottom: .3em;
}

.media-player--song-title {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
}

.control-and-progress-bar-cnt {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin: 0 auto;
}

.control-cnt {
    display: flex;
    justify-content: center;
}

.shuffle-cnt {
    margin-left: auto;
}


/* FOOTER */

.footer {
    background: var(--clr-violet);
    height: 40em;
    display: flex;
    padding: 26em 6em 0 6em;
}

.footer--title-cnt {
    margin-right: 9em;
    display: flex;
    column-gap: 1em;
}

.footer--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 59px;
    color: var(--clr-dark);
    text-decoration: none;
}

.footer--heading {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 47px;
    color: var(--clr-dark);
    margin-bottom: .5em;
}

.footer--item {
    list-style: none;
}

.footer--link {
    text-decoration: none;
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-04);
}

.footer--blog-cnt {
    margin-right: 10em;
}

.footer--heading-blog {
    text-decoration: none;
    color: var(--clr-dark);
}

.footer--contact-cnt {
    margin-right: 10em;
}



/* RESPONSIVE MODE */

@media (max-width: 768px) {

    .nav-menu {
        justify-content: unset;
        padding: 1.5em 2em;
    }

    .logo-cnt {
        z-index: 2;
    }
    
    .melodies-and-blog-cnt {
        display: none;
    }

    .header--subscribe-btn {
        display: none;
    }

    .search-and-sub-cnt {
        margin-left: auto;
        margin-right: 3em;
    }

    .search-cnt {
        z-index: 2;
    }

    .hamburger {
        display: unset;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        left: -100%;
        padding: 5em 2em;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--clr-yellow-bg);
        transition: 0.3s;
    }

    .mobile-nav-menu.active {
        left: 0;
    }

    .mobile-nav-menu > hr {
        width: 50%;
        margin: 0 auto;
        border: none;
        height: 1px;
        background-color: var(--clr-grey-03);
    }

    .mobile-nav-link {
        text-decoration: none;
        font-size: 2rem;
        font-family: var(--ff-oswald);
        font-weight: var(--fw-bold);
        color: #000;
        line-height: 120%;
        text-align: center;
        padding: 2em 0;
    }
    
}


@media (max-width: 576px) {

/* GENERAL STYLES */

html {
    font-size: .5rem;
}

.section {
    padding-left: 2em;
    padding-right: 2em;
}


/* HEADER SECTION */

.header {
    padding-top: 2em;
    padding-bottom: 4em;
}

.logo {
    max-width: 2.5em;
    margin-right: 1em;
}

.header--subscribe-cnt {
    column-gap: 2em;
}


/* BLOG ARTICLE SECTION */

.article-cnt {
    width: 100%;
    padding-bottom: 5.5em;
}

.article--title {
    font-size: 4rem;
    margin: 1em 0 .8em 0;
}

.article--subtitle {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.article--cover-img-cnt {
    margin-bottom: 2.5em;
}

.article--par {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.article--quote {
    font-size: 2.25rem;
    margin: 1em 0 1em 0;
}

.article--hr {
    margin-bottom: 3em;
}

.article--social-cnt {
    column-gap: 1.5em;
    margin-bottom: 7em;
}

.article--views-cnt {
    display: flex;
    column-gap: 2em;
}

.article--views-cnt > p {
    font-size: 2rem;
}


/* RELATED ARTICLES SECTION */

.related-articles {
    padding: 5em 0 14em 0;
}

.related-articles--title {
    font-size: 4rem;
    margin-bottom: .3em;
}

.blog {
    flex-direction: column;
    padding: 0 2em 5.5em 2em;
    column-gap: 0;
}

.blog--left,
.blog--right {
    width: 100%;
    margin: 1.7em 0;
}

.blog--cover-img {
    width: 100%;
}

.blog--lower-section {
    padding: 2em 2em 3em 2em;
}

.blog--content-title {
    font-size: 3rem;
    margin: 0 0 .7em 0;
}

.blog--content-body {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.blog--read-more > a {
    font-size: 2rem;
}

.blog--hr {
    height: 1px;
    margin-bottom: 5em;
}

.blog--reactions {
    margin-bottom: 4em;
}

.blog--reactions-img {
    max-width: 3em;
}

.blog--reactions-left {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.blog--reactions-chat-cnt {
    column-gap: .5em;
}

.blog--reactions-chat-count {
    font-size: 1.75em;
}

.blog--author {
    column-gap: 2em;
}

.blog--author-profile-img {
    max-width: 6em;
}

.blog--author-name {
    font-size: 2.25rem;
    margin-bottom: .3em;
}

.blog--author-time {
    font-size: 2rem;
}


/* MEDIA PLAYER SECTION */

.media-player {
    height: auto;
    padding: 5em 2em;
}

.media-player--cnt {
    border-radius: 20px;
    overflow: hidden;
}

.media-player--lower-section {
    padding: 2em 1.5em;
    column-gap: 1em;
}

.media-player--artist {
    font-size: 1rem;
    margin-bottom: .5em;
}

.media-player--song-title {
    font-size: .7rem;
}

.control-and-progress-bar-cnt {
    width: 50%;
    row-gap: 1em;
}

.control-cnt {
    width: 10%;
    margin: 0 auto;
    column-gap: 1em;
}

.shuffle-cnt {
    width: 5%;
}


/* FOOTER */

.footer {
    max-height: 14em;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.footer--title-cnt {
    margin-right: 1.5em;
    align-items: center;
}

.footer--title {
    font-size: 2rem;
    line-height: 120%;
}

.footer--logo-cnt {
    width: 10%;
}

.footer--heading {
    font-size: 2.25rem;
    line-height: normal;
    margin-bottom: 0;
}

.footer--link {
    font-size: 2rem;
    line-height: 120%;
}

.footer--blog-cnt {
    margin-right: 2em;
}

.footer--contact-cnt {
    margin-right: 0;
}

}