/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* CUSTOM PROPERTIES */

:root {
    --ff-arimo: 'Arimo', sans-serif;
    --ff-oswald: 'Oswald', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fw-normal: 400;
    --fw-bold: 500;
    --fw-extra-bold: 700;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h2-3em: 3em;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-p-large: 1.125rem;
    --fs-p-medium: 1rem;
    --fs-p-small: 0.875rem;

    --clr-light: #FFFFFF;
    --clr-dark: #000000;
    --clr-dark-01: #010308;
    --clr-dark-02: #030E27;
    --clr-dark-03: #030303;
    --clr-dark-04: #1E1E1E;
    --clr-dark-05: #2D2D2D;
    --clr-grey-01:  #414242;
    --clr-grey-02:  #4A4747;
    --clr-grey-03:  #5F5F5F;
    --clr-light-grey: #E5E5E5;
    --clr-yellow:  #FFB866;
    --clr-yellow-dark:  #f78706;
    --clr-orange: #FFE2C1;
    --clr-green: #66B89E;
    --clr-pink: #F8C9E1;
    --clr-violet: #C6BCFF;
    --clr-yellow-bg:  #FFFDC2;
}


/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}
.section {
    padding: 0 6em;
}

.block {
    display: block;
}


/* HEADER SECTION */

.header-section {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    background-color: var(--clr-green);
    z-index: 2;
}

.nav-menu {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    height: 84px;
}

.logo-cnt {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.logo {
    max-width: 48px;
    height: auto;
}

.company-name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    text-decoration: none;
}

.melodies-and-blog-cnt {
    display: flex;
    align-items: center;
    column-gap: 3em;
}

.nav-link--melodies {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-01);
}

.nav-link--stream {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-01);
}

.nav-link--blog {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-03);
}

.nav-link {
    text-decoration: none;
}

.search-and-sub-cnt {
    display: flex;
    align-items: center; 
    column-gap: 2em;  
}

.header--search-img {
    max-width: 100%;
}

.header--subscribe-btn {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-yellow);
    background-color: var(--clr-dark);
    border-radius: 16px;
    padding: .3em 1em;
    text-decoration: none;
}

.mobile-nav-menu {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-dark);
}


/* HERO SECTION */

.hero {
    background: var(--clr-green);
    display: flex;
    align-items: center;
    padding: 10em 10.5em 6em 10.5em;
}

.hero--left {
    width: 60%;
}

.hero--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h1);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-dark);
    margin-bottom: .2em;
}

.hero--subtitle {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-normal);
    color: var(--clr-dark);
    line-height: 120%;
    margin-bottom: 1.2em;
}

.hero--body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 1.5em;
}

.hero--right {
    /* transform: translate(0, -4em); */
    padding-left: 3em;
}


/* BLOGS SECTION - GENERAL */

.blog {
    display: flex;
    padding: 0 6em;
    column-gap: 2.5em;
    background: var(--clr-yellow-bg);
}

.blog--left,
.blog--right {
    width: 50%;
    border: 1px solid var(--forum-sec, #1E1E1E);
    border-radius: 16px;
    margin: 2em 0;
}

.blogs-01-and-02 {
    padding-top: 4em;
}

.blogs-05-and-06 {
    padding-bottom: 4em;
}

.blog--cover-img {
    width: 37.75em;
}

.blog--lower-section {
    padding: 1.5em;
}

.blog--content {
    display: flex;
    flex-direction: column;
}

.blog--content-title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    letter-spacing: 0.5px;
    line-height: 120%;
    color: var(--clr-dark-03);
    margin: 0 0 .7em 0;
    text-decoration: none;
}

.blog--content-title:hover {
    opacity: .8;
}

.blog--content-body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 2em;
}

.blog--read-more {
    font-family: var(--ff-oswald);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-yellow);
    text-decoration: none;
    cursor: pointer;
}

.blog--read-more:hover {
    color: var(--clr-dark-02);
}

.blog--hr {
    margin-bottom: 2.3em;
    border: none;
    height: 2px;
    background-color: #D7D7D7;
}

.blog--reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7em;
}

.blog--reactions-img {
    max-width: 1.5em;
}

.blog--reactions-left {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.blog--reactions-chat-cnt {
    display: flex;
    align-items: center;
    column-gap: .3em;
}

.blog--reactions-chat-count {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-p-small);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #2D2D2D;
}

.blog--author {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.blog--author-profile-img {
    max-width: 2.5em;
}

.blog--author-name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-03);
    margin-bottom: .3em;
}

.blog--author-time {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-05);
    color: #2D2D2D;
}


/* MUSIC PLAYER SECTION */

.music-player {
    background: var(--clr-green);
    max-height: 47.5em;
    padding-top: 3em;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-player--cover-img {
    border-radius: 16px;
}

.music-player--lower-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    background: rgba(0, 0, 0, 0.80);
    padding: 2em;
}

.img-area {
    display: none;
}

.song-details {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
    margin-bottom: .3em;
}

.artist {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
}

.progress-area {
    height: .3em;
    width: 100%;
    border-radius: 50px;
    background: var(--clr-grey-03);
    cursor: default;
    margin-bottom: 2em;
}

.progress-area .progress-bar {
    height: inherit;
    position: relative;
    border-radius: inherit;
    background: var(--clr-light);
  }

  .progress-area .progress-bar:hover {
    background: var(--clr-green);
  }

  .progress-area .progress-bar::before {
    content: "";
    position: absolute;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    cursor: default;
    transform: translateY(-50%);
    background: var(--clr-light);
    transition: opacity 0.2s ease;
  }

  .progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
  }

  .progress-area .song-timer {
    margin-top: .5em;
  }

.song-timer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.current-time,
.max-duration {
    color: var(--clr-light);
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
}

.controls {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls i {
    font-size: 3rem;
    color: var(--clr-light);
    cursor: default;
    user-select: none;
}

.controls i:hover {
    color: var(--clr-pink);
}

#prev,
#next {
    font-size: 4rem;
}

.play-pause {
    background: var(--clr-light);
    border-radius: 50%;
}

.play-pause:hover {
    background: var(--clr-pink);
}

.play-pause i {
    color: var(--clr-dark);
    padding: .3em;
    font-size: 3.5rem;
}

.play-pause i:hover {
    color: var(--clr-dark);
}

.music-list {
    position: absolute;
    background: var(--clr-yellow-bg);
    width: 28%;
    max-height: 25em;
    overflow: auto;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    padding: 1em 1.5em;
    /* border-radius: 16px; */
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
  }

  .music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .row {
    display: flex;
    align-items: center;
    font-family: var(--ff-oswald);
    font-size: var(--fs-h5);
    color: var(--clr-dark);
  }
  
  .header .row i {
    cursor: default;
  }
  
  .header .row span {
    margin-left: .2em;
  }

  .header #close {
    font-size: var(--fs-h4);
    color: var(--clr-dark);
    cursor: pointer;
  }

  .music-list ul {
    margin: .5em 0;
    overflow: auto;
  }

  .music-list ul::-webkit-scrollbar {
    width: 0em;
  }

  .music-list ul li {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding: .5em 0;
    color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-light-grey);
    font-family: var(--ff-arimo);
    font-size: .75rem;
  }

  .music-list ul li:last-child {
    border-bottom: none;
  }

  .music-list ul li .row span {
    font-size: var(--fs-p-small);
  }

  ul li .audio-duration {
    font-size: var(--fs-p-small);
    margin-left: auto;
  }

  ul li.playing {
    pointer-events: none;
    color: var(--clr-yellow-dark);
  }


/* FOOTER */

.footer {
    background: var(--clr-violet);
    height: 40em;
    display: flex;
    padding: 26em 6em 0 6em;
}

.footer--title-cnt {
    margin-right: 9em;
    display: flex;
    column-gap: 1em;
}

.footer--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 59px;
    color: var(--clr-dark);
    text-decoration: none;
}

.footer--heading {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 47px;
    color: var(--clr-dark);
    margin-bottom: .5em;
}

.footer--item {
    list-style: none;
}

.footer--link {
    text-decoration: none;
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-04);
}

.footer--blog-cnt {
    margin-right: 10em;
}

.footer--heading-blog {
    text-decoration: none;
    color: var(--clr-dark);
}

.footer--contact-cnt {
    margin-right: 10em;
}


/* RESPONSIVE MODE */

@media (max-width: 1200px) {

/* GENERAL STYLES */

.section {
    padding-left: 3em;
    padding-right: 3em;
}

/* HEADER SECTION */

.logo-cnt {
    column-gap: 1em;
}

.melodies-and-blog-cnt {
    column-gap: 1em;
}

.search-and-sub-cnt {
    column-gap: 1em;  
}
}

@media (max-width: 768px) {

.nav-menu {
    height: 64px;
}

.logo-cnt {
    z-index: 2;
}

.melodies-and-blog-cnt {
    display: none;
}

.header--subscribe-btn {
    display: none;
}

.search-and-sub-cnt {
    margin-left: auto;
    margin-right: 3em;
}

.search-cnt {
    z-index: 2;
}

.hamburger {
    display: unset;
    z-index: 2;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.mobile-nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: -100%;
    padding: 5em 2em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-yellow-bg);
    transition: 0.3s;
}

.mobile-nav-menu.active {
    left: 0;
}

.mobile-nav-menu > hr {
    width: 50%;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: var(--clr-grey-03);
}

.mobile-nav-link {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--ff-oswald);
    font-weight: var(--fw-bold);
    color: #000;
    line-height: 120%;
    text-align: center;
    padding: 2em 0;
}
    
}


@media (max-width: 576px) {

/* GENERAL STYLES */

html {
    font-size: .5rem;
}

.section {
    padding-left: 2em;
    padding-right: 2em;
}


/* HEADER SECTION */

.header {
    padding-top: 2em;
    padding-bottom: 4em;
}

.logo-cnt {
    column-gap: .5em;
}

.logo {
    max-width: 2.5em;
    margin-right: 1em;
}

.header--subscribe-cnt {
    column-gap: 2em;
}


/* HERO SECTION */

.hero {
    flex-direction: column;
    padding: 3em 2em 5em 2em;
}

.hero--left {
    width: 100%;
}

.hero--title {
    font-size: 4rem;
    font-weight: var(--fw-bold);
    margin-bottom: .4em;
}

.hero--subtitle {
    font-size: 2rem;
    margin-bottom: 1.2em;
}

.hero--body {
    font-size: 2rem;
    margin-bottom: 2em;
}

.hero--right {
    padding-left: 0;
}


/* BLOGS SECTION - GENERAL */

.blog {
    flex-direction: column;
    padding: 0 2em;
    column-gap: 0;
}

.blog--left,
.blog--right {
    width: 100%;
    margin: 1.5em 0;
}

.blogs-01-and-02 {
    padding-top: 5em;
}

.blogs-05-and-06 {
    padding-bottom: 3em;
}

.blog--cover-img {
    width: auto;
}

.blog--lower-section {
    padding: 1.5em 1.5em 3em 1.5em;
}

.blog--content-title {
    font-size: 3rem;
    margin: 0 0 .7em 0;
}

.blog--content-body {
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.blog--read-more > a {
    font-size: 2rem;
}

.blog--hr {
    height: 1px;
    margin-bottom: 3.5em;
}

.blog--reactions {
    margin-bottom: 3.5em;
}

.blog--reactions-img {
    max-width: 3em;
}

.blog--reactions-left {
    column-gap: 2em;
}

.blog--reactions-chat-cnt {
    column-gap: .5em;
}

.blog--reactions-chat-count {
    font-size: 1.75rem;
}

.blog--author {
    column-gap: 2em;
}

.blog--author-profile-img {
    max-width: 5.5em;
}

.blog--author-name {
    font-size: 2.25rem;
    margin-bottom: .3em;
}

.blog--author-time {
    font-size: 2rem;
}


/* MUSIC PLAYER SECTION */

.music-player {
    max-height: auto;
    padding: 5em 2em;
}

.music-player--lower-section {
    padding: 2em;
}

.name {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.artist {
    font-size: 1.5rem;
    font-weight: var(--fw-normal);
}

.current-time,
.max-duration {
    font-size: 1.5rem;
}

.controls {
    width: 70%;
    display: flex;
}

.header .row {
    font-size: 2rem;
}

.header #close {
    font-size: 2rem;
}

.music-list {
    width: 70%;
    max-height: 30em;
    padding: .5em 1.5em;
}

.music-list ul li {
    font-size: 1.2rem;
}

.music-list ul li .row span {
    font-size: 1.5rem;
}

ul li .audio-duration {
    font-size: 1.5rem;
}


/* FOOTER */

.footer {
    max-height: 14em;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.footer--title-cnt {
    margin-right: 1.5em;
    align-items: center;
}

.footer--title {
    font-size: 2rem;
    line-height: 120%;
}

.footer--logo-cnt {
    width: 10%;
}

.footer--heading {
    font-size: 2.25rem;
    line-height: normal;
    margin-bottom: 0;
}

.footer--link {
    font-size: 2rem;
    line-height: 120%;
}

.footer--blog-cnt {
    margin-right: 2em;
}

.footer--contact-cnt {
    margin-right: 0;
}

}