/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Oswald:wght@400;500;700&display=swap');


/* CUSTOM PROPERTIES */

:root {
    --ff-arimo: 'Arimo', sans-serif;
    --ff-oswald: 'Oswald', sans-serif;

    --fw-normal: 400;
    --fw-bold: 500;
    --fw-extra-bold: 700;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-p-large: 1.125rem;
    --fs-p-medium: 1rem;
    --fs-p-small: 0.875rem;

    --clr-light: #FFFFFF;
    --clr-dark: #000000;
    --clr-dark-01: #010308;
    --clr-dark-02: #030E27;
    --clr-dark-03: #030303;
    --clr-dark-04: #1E1E1E;
    --clr-grey-01:  #414242;
    --clr-grey-02:  #4A4747;
    --clr-grey-03:  #5F5F5F;
    --clr-yellow:  #FFB866;
    --clr-yellow-bg: #FFFDC2;
    --clr-orange: #FFE2C1;
    --clr-green: #66B89E;
    --clr-pink: #F8C9E1;
    --clr-violet: #C6BCFF;
}


/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
}

img {
    display: block;
    max-width: 100%;
}
.section {
    padding-left: 6em;
    padding-right: 6em;
}

.block {
    display: block;
}


/* HEADER SECTION */

.header {
    background-color: var(--clr-green);
    padding-bottom: 8em;
    display: flex;
}

.nav-menu {
    display: flex;
    width: 100%;
    /* height: auto; */
    padding: 1.5em 6em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-green);
    z-index: 2;
}

.logo-cnt {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.logo {
    max-width: 4.5em;
}

.company-name {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    text-decoration: none;
}

.melodies-and-blog-cnt {
    display: flex;
    align-items: center;
    column-gap: 3em;
}

.nav-link--melodies {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-01);
}

.nav-link--blog {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-01);
}

.nav-link {
    text-decoration: none;
}

.search-and-sub-cnt {
    display: flex;
    align-items: center; 
    column-gap: 2em;  
}

.header--search-img {
    max-width: 100%;
}

.header--subscribe-btn {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-yellow);
    background-color: var(--clr-dark);
    border-radius: 16px;
    padding: .3em 1em;
    text-decoration: none;
}

.mobile-nav-menu {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-dark);
}


/* HERO SECTION */

.hero {
    background: var(--clr-green);
    display: flex;
    padding-top: 5em;
}

.hero--left {
    width: 50%;
    padding-right: 3em;
}

.hero--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-01);
    margin-bottom: .4em;
}

.hero--body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 2.5em;
}

.hero--btn {
    width: 100%;
    padding: .5em;
    border: none;
    border-radius: 16px;
    background: var(--clr-dark);
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-yellow);
    margin-bottom: 3em;
    cursor: pointer;
}

.hero--right {
    width: 50%;
    transform: translate(0, -4em);
}

.hero--card {
    width: max-content;
    background: var(--clr-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 5px 10px rgba(51, 51, 51, 0.25), 
    inset 0px -12.2667px 12.2667px #CCCCCC, 
    inset 0px 12.2667px 12.2667px #FFFFFF;
    border-radius: 6.4em 0px 0px 6.4em;
    margin-bottom: 1.5em;
    padding: 0.75em;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 1em;
}

.hero--card-img {
    max-width: 6.75em;
}

.hero--card-artist {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    /* line-height: 36px; */
    line-height: 120%;
    color: var(--clr-dark-03);
    margin-bottom: .5em;
}

.hero--card-song-title {
    display: block;
    font-family: var(--ff-arimo);
    font-size: var(--fs-h5);
    font-weight: var(--fw-normal);
    /* line-height: 24px; */
    line-height: 120%;
    letter-spacing: 0.7px;
    color: var(--clr-dark-04);
}

.hero--card-btn {
    background: var(--clr-dark-03);
    border: none;
    border-radius: 20px;
    padding: .3em .9em;
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-orange);
    cursor: pointer;
}

.hero--card-btn-link {
    margin-left: auto;
}

.hero--card-david, 
.hero--card-slay {
    transform: scale(60%);
    opacity: 50%;
}

.hero--card-david {
    transform-origin: bottom left;
}

.hero--card-slay {
    transform-origin: top left;
}


/* MEDIA PLAYER SECTION */

.media-player {
    background: var(--clr-green);
    height: 36em;
}

.media-player--cnt {
    position: relative;
}

.media-player--lower-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    background: rgba(0, 0, 0, 0.80);
    padding: 4em 2em;
}

.media-player--artist {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
    margin-bottom: .3em;
}

.media-player--song-title {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-extra-bold);
    line-height: 120%;
    color: var(--clr-light);
}

.control-and-progress-bar-cnt {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin: 0 auto;
}

.control-cnt {
    display: flex;
    justify-content: center;
}

.shuffle-cnt {
    margin-left: auto;
}


/* TEXT SLIDER SECTION */

.txt-slider {
    background: var(--clr-pink);
    padding: 22em 0 4.5em 0;
}

.txt-slider--text {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-03);
    padding-right: .5em;
    -webkit-text-fill-color: var(--clr-pink);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--clr-dark-03);
}

.txt-slider--cnt {
    display: flex;
    align-items: center;
    margin: auto 6em auto 6em;
    white-space: nowrap;
    /* animation: marquee 10s infinite linear; */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* ABOUT SECTION */

.about {
    background: var(--clr-pink);
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 7em;
}

.about--left,
.about--right {
    position: absolute;
}

.about--left {
    width: 23.5em;
    /* margin-left: 6em; */
    left: 6em;
    top: 7em;
    background: var(--clr-violet);
    border-radius: 24px;
    padding: 1.5em;
}

.about--left-responsive {
    display: none;
}

.about--center {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.about--main-img {
    max-width: 48em;
}

.about--right {
    width: 24.75em;
    margin-right: 6em;
    right: 0;
    top: 23em;
    background: var(--clr-violet);
    border-radius: 24px;
}

.about--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    margin-bottom: .3em;
}

.about--subtitle {
    font-family: var(--ff-arimo);
    font-size: var(--fs-h4);
    font-weight: var(--fw-normal);
    line-height: 29px;
    letter-spacing: 0.5px;
    color: var(--clr-grey-02);
}

.about--body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-grey-02);
    padding: 1.5em;
}


/* IMAGE SLIDER SECTION */

.img-slider {
    background: var(--clr-green);
}

.img-slider--text {
    padding: 5em 0 2em 0;
}

.img-slider--follow-us {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-normal);
    line-height: 36px;
    color: var(--clr-dark-01);
    text-align: center;
    margin-bottom: 1.8em;
}

.img-slider--melody-genie {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 59px;
    color: var(--clr-dark-01);
    text-align: center;
}

.img-slider--image-cnt {
    display: flex;
    column-gap: 2em;
    padding-bottom: 7.5em;
}


/* LYRICS SECTION */

.lyrics {
    display: flex;
    background: var(--clr-green);
    height: 53.5em;
}

.lyrics--left {
    width: 50%;
    padding-right: 2.5em;
}

.lyrics--subscribe-title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 59px;
    color: var(--clr-dark);
    margin-bottom: .5em;
}

.lyrics--subscribe-subtitle {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-02);
    margin-bottom: 2em;
}

.lyrics--email-label {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h5);
    font-weight: var(--fw-normal);
    line-height: 30px;
    color: var(--clr-dark);
    margin-bottom: .3em;
}

.lyrics--email-input {
    padding: 1.3em 1.5em;
    width: 100%;
    border: 1px solid var(--clr-grey-03);
    border-radius: 16px;
    background-color: var(--clr-green);
    margin-bottom: 2.8em;
    font-family: var(--ff-oswald);
    font-size: var(--fs-p-medium);
    font-weight: var(--fw-normal);
    line-height: 24px;
    color: var(--clr-grey-03);
}

.lyrics--email-input:focus {
    background: var(--clr-green);
    outline: none;
}

.lyrics--email-input:-webkit-autofill,
.lyrics--email-textarea:-webkit-autofill,
.lyrics--email-select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--clr-green) inset !important;
  -webkit-text-fill-color: var(--clr-grey-03) !important;
}

.lyrics--subscribe-btn {
    padding: .7em .5em;
    width: 100%;
    background: var(--clr-dark);
    border-radius: 24px;
    border: none;
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 38px;
    color: var(--clr-yellow);
    margin-bottom: 1.3em;
    cursor: pointer;
}

.lyrics--cnt {
    padding: 2.25em 2em;
    background: var(--clr-light);
    border-radius: 24px;
    margin-bottom: 2em;
}

.lyrics--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    line-height: 29px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-03);
    margin-bottom: 1em;
}

.lyrics--text {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-small);
    font-weight: var(--fw-normal);
    line-height: 17px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-01);
    margin-bottom: .5em;
}

.lyrics--right {
    width: 50%;
}

/* FOOTER */

.footer {
    background: var(--clr-violet);
    height: 40em;
    display: flex;
    padding: 26em 6em 0 6em;
}

.footer--title-cnt {
    margin-right: 9em;
    display: flex;
    column-gap: 1em;
}

.footer--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 59px;
    color: var(--clr-dark);
    text-decoration: none;
}

.footer--heading {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 47px;
    color: var(--clr-dark);
    margin-bottom: .5em;
}

.footer--item {
    list-style: none;
}

.footer--link {
    text-decoration: none;
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--clr-dark-04);
}

.footer--blog-cnt {
    margin-right: 10em;
}

.footer--heading-blog {
    text-decoration: none;
    color: var(--clr-dark);
}

.footer--contact-cnt {
    margin-right: 10em;
}


/* RESPONSIVE MODE */

@media (max-width: 768px) {

    .nav-menu {
        justify-content: unset;
        padding: 1.5em 2em;
    }

    .logo-cnt {
        z-index: 2;
    }
    
    .melodies-and-blog-cnt {
        display: none;
    }

    .header--subscribe-btn {
        display: none;
    }

    .search-and-sub-cnt {
        margin-left: auto;
        margin-right: 3em;
    }

    .search-cnt {
        z-index: 2;
    }

    .hamburger {
        display: unset;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        left: -100%;
        padding: 5em 2em;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--clr-yellow-bg);
        transition: 0.3s;
    }

    .mobile-nav-menu.active {
        left: 0;
    }

    .mobile-nav-menu > hr {
        width: 50%;
        margin: 0 auto;
        border: none;
        height: 1px;
        background-color: var(--clr-grey-03);
    }

    .mobile-nav-link {
        text-decoration: none;
        font-size: 2rem;
        font-family: var(--ff-oswald);
        font-weight: var(--fw-bold);
        color: #000;
        line-height: 120%;
        text-align: center;
        padding: 2em 0;
    }
    
}

@media (max-width: 576px) {

/* GENERAL STYLES */

html {
    font-size: .5rem;
}

.section {
    padding-left: 2em;
    padding-right: 2em;
}


/* HEADER SECTION */

.header {
    padding-top: 2em;
    padding-bottom: 5em;
}

.logo {
    max-width: 2.5em;
    margin-right: 1em;
}

.header--subscribe-cnt {
    column-gap: 2em;
}


/* HERO SECTION */

.hero {
    flex-direction: column;
    padding-top: 3em;
}

.hero--left {
    width: 100%;
    padding-right: 0;
}

.hero--title {
    margin-bottom: .7em;
}

.hero--body {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 1.6em;
}

.hero--btn {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hero--right {
    width: 100%;
    transform: translate(0, 0);
    margin-bottom: .5em;
}

.hero--card {
    column-gap: 0;
    width: 100%;
}

.hero--card-artist {
    font-size: 1.75rem;
    margin-bottom: .3em;
}

.hero--card-song-title {
    font-size: 1.5rem;
}
.hero--card-img {
    margin-right: 1em;
}

.hero--card-btn {
    border-radius: 12.874px;
}


/* MEDIA PLAYER SECTION */

.media-player {
    height: 19em;
}

.media-player--cnt {
    border-radius: 16px;
    overflow: hidden;
}

.media-player--lower-section {
    padding: 2em 1.5em;
    column-gap: 1em;
}

.media-player--artist {
    font-size: 1rem;
    margin-bottom: .5em;
}

.media-player--song-title {
    font-size: .7rem;
}

.control-and-progress-bar-cnt {
    width: 50%;
}

.control-cnt {
    width: 35%;
    margin: 0 auto;
    column-gap: 1em;
}

.shuffle-cnt {
    margin-left: auto;
    width: 5%;
}


/* TEXT SLIDER SECTION */

.txt-slider {
    padding: 18em 0 4em 0;
}

.txt-slider--cnt {
    margin: auto 2em auto 2em;
}

.txt-slider--text {
    font-size: 2rem;
    line-height: normal;
    padding-right: .5em;
    -webkit-text-stroke-width: 1px;
}

.txt-slider--star {
    width: 35%;
}


/* ABOUT SECTION */

.about {
    flex-direction: column;
    /* position: relative; */
    position: unset;
    padding-bottom: 5.5em;
}

.about--left,
.about--right {
    /* position: absolute; */
    position: unset;
}

.about--left {
    display: none;
}

.about--left-responsive {
    display: unset;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40em;
    background: var(--clr-violet);
    border-radius: 6.732px;
    padding: .5em;
}

.about--center {
    position: relative;
    width: 83%;
    margin: 0 auto 6em auto;
}

.about--main-img {
    width: 100%;
}

.about--right {
    width: 83%;
    margin: 0 auto;
    right: 0;
    border-radius: 24px;
}

.about--title {
    font-size: 2rem;
    text-align: center;
}

.about--subtitle {
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
}

.about--body {
    font-size: 2rem;
    line-height: 120%;
    padding: 1.5em;
}


/* IMAGE SLIDER SECTION */

.img-slider--text {
    padding: 7em 0 1em 0;
}

.img-slider--follow-us {
    line-height: normal;
    margin-bottom: .5em;
}

.img-slider--melody-genie {
    line-height: normal;
    margin-bottom: .3em;
}

.img-slider--image-cnt {
    padding-bottom: 5em;
    column-gap: 1em;
}


/* LYRICS SECTION */

.lyrics {
    flex-direction: column;
    height: auto;
    padding-bottom: 3em;
}

.lyrics--left {
    width: 100%;
    padding-right: 0;
}

.lyrics--subscribe-title {
    font-size: var(--fs-h2);
    font-size: 3rem;
    line-height: normal;
    margin-bottom: 1em;
}

.lyrics--subscribe-subtitle {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 1.5em;
}

.lyrics--email-label {
    font-size: 2.5rem;
    line-height: normal;
}

.lyrics--email-input {
    padding: .7em 1em;
    margin-bottom: 1.5em;
    font-size: 2em;
    line-height: normal;
}

.lyrics--subscribe-btn {
    padding: .7em .5em;
    border-radius: 16px;
    margin-bottom: 2em;
    font-size: 2.5rem;
    line-height: 120%;
}

.lyrics--cnt {
    padding: 3em;
}

.lyrics--title {
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: .5em;
}

.lyrics--text {
    font-size: 1.75rem;
    line-height: 120%;
    margin-bottom: 1em;
}

.lyrics--right {
    width: 100%;
}


/* FOOTER */

.footer {
    max-height: 14em;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.footer--title-cnt {
    margin-right: 1.5em;
    align-items: center;
}

.footer--title {
    font-size: 2rem;
    line-height: 120%;
}

.footer--logo-cnt {
    width: 10%;
}

.footer--heading {
    font-size: 2.25rem;
    line-height: normal;
    margin-bottom: 0;
}

.footer--link {
    font-size: 2rem;
    line-height: 120%;
}

.footer--blog-cnt {
    margin-right: 2em;
}

.footer--contact-cnt {
    margin-right: 0;
}

}