

/* LYRICS SECTION */

.lyrics {
    margin: 7em auto 6em auto;
}

.lyrics--title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: .5em;
}

.lyrics--subtitle {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-large);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-grey-02);
    text-align: center;
    margin-bottom: 3.5em;
}

.lyrics--lyrics-cnt {
    display: flex;
    column-gap: 1.5em;
}

.lyrics--col-01-cnt,
.lyrics--col-02-cnt,
.lyrics--col-03-cnt {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.lyrics--item {
    border-radius: 24px;
    /* height: 440px; */
}

.lyrics--item-text-cnt {
    padding: 2.25em 2em;
}

.lyrics--item-title {
    font-family: var(--ff-oswald);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-03);
    margin-bottom: .5em;
}

.lyrics--item-body {
    font-family: var(--ff-arimo);
    font-size: var(--fs-p-small);
    font-weight: var(--fw-normal);
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-dark-01);
}

.lyrics--item-img-cnt {
    padding: .5em;
    display: flex;
    justify-content: center;
}

.lyricss--col-01-lyrics-01 { background: #C6BCFF; }
.lyricss--col-01-lyrics-02 { background: #BDFFBD; }
.lyricss--col-02-lyrics-01 { background: #FFB866; }
.lyricss--col-02-lyrics-02 { background: #66B89E; }
.lyricss--col-03-lyrics-01 { background: #C6D6FB; }
.lyricss--col-03-lyrics-02 { background: #FFFDC2; }